<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Detection | SignBridge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <h2>🤟 SignBridge</h2>
    </nav>

    <section class="hero">

    <div class="dashboard">

        <div class="camera-card">

            <h2>📷 Live Camera</h2>

            <img src="{{ url_for('video') }}"
                 width="700"
                 class="camera">

        </div>

        <div class="info-card">

            <h2>🤟 Current Gesture</h2>

            <h1 id="gestureText">
                No Hand Detected
            </h1>

            <hr>

            <h3>📊 Confidence</h3>

            <div class="progress">

                <div id="confidenceBar"
                     class="progress-fill">
                </div>

            </div>

            <p id="confidenceText">
                0%
            </p>

            <hr>

            <h3>📝 Recent Gestures</h3>

            <ul id="historyList"></ul>

            <br>

            <a href="/">
                <button class="btn">
                    ⬅ Back Home
                </button>
            </a>

        </div>

    </div>

</section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>